.wall-auth{
    margin-top: 70px;
}
.navbar-brand{
    color:#c4a839 ;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}
body{
    background-color: rgb(235, 234, 234);
}
.container{
   
}
.btn-yellow{
    background-color:#c4a839 ;
    color: white;
}
.btn-outline-yellow{
    color:#c4a839 ;
    background-color: white;
    border:1px solid #c4a839;
    font-weight: bold;
}
.btn-outline-yellow:hover, .btn-yellow:hover{
    color:black ;
    background-color: white;
    border:1px solid black;
    font-weight: bold;
}
