.title{
    margin: 10px 0 ;
    font-weight: bold;
    font-size: 18px;
}
.title-user-status{
    display: grid;
    margin: 10px 0 ;
    font-weight: bold;
    font-size: 18px;
    grid-template-columns: 1fr 1fr;
}
.title-user-status .button{
    justify-self: flex-end;
}
.label{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.wordCount{
    justify-self: flex-end;
}
